body {
  background-color: pink;
  margin: 0;
}

@font-face {
  font-family: myFirstFont;
  src: url(./assets/BestTen-CRT.otf);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 700px;
}

img {
  width: 500px;
}

.callout {
  position: fixed;
  bottom: 175px;
  right: 50px;
  margin-left: 0px;
  width: 200px;
}

.callout-header {
  padding: 35px 15px;
  background:rgba(247, 247, 247, 0.11);
  font-size: 18px;
  color: white;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  font-family: "Kavoon", cursive;
}

.closebtn {
  position: absolute;
  top: 0px;
  right: 15px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

a:link {
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(255, 255, 255);
}

#text1 {
  position: absolute;
  right: 50px;
  top: 20px;
  font-size: 40px;
  color: white;
  font-family: "Kavoon", cursive;
}

#text2 {
  position: absolute;
  left: 50px;
  bottom: 20px;
  font-size: 130px;
  color: white;
  font-family: "Kavoon", cursive;
}

#text3 {
  font-family: myFirstFont;
  color: white;
  font-size: 50px;
  position: absolute;
  right: 45px;
  bottom: 55px;
}
button {
  background-color: rgba(247, 247, 247, 0.11);
  position: relative;
  border-radius: 30px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 18px;
  color: white;
  height: 38px;
  width: 38px;
  margin: 0px;
  align-items: center;
  font-family: "Kavoon", cursive;
  text-transform: uppercase;
}

[id="1"] {
  position: absolute;
  top: 28px;
  left: 50px;
}

[id="2"] {
  position: absolute;
  top: 28px;
  left: 92px;
}
[id="3"] {
  position: absolute;
  top: 28px;
  left: 134px;
}
[id="4"] {
  position: absolute;
  top: 28px;
  left: 176px;
}
[id="5"] {
  position: absolute;
  top: 28px;
  left: 218px;
}
[id="6"] {
  position: absolute;
  top: 28px;
  left: 260px;
}
[id="7"] {
  position: absolute;
  top: 28px;
  left: 302px;
}
[id="8"] {
  position: absolute;
  top: 28px;
  left: 344px;
}

[id="9"] {
  position: absolute;
  top: 28px;
  left: 386px;
}

[id="0"] {
  position: absolute;
  top: 28px;
  left: 428px;
}
#q {
  position: absolute;
  top: 70px;
  left: 50px;
}

#w {
  position: absolute;
  top: 70px;
  left: 92px;
}
#e {
  position: absolute;
  top: 70px;
  left: 134px;
}
#r {
  position: absolute;
  top: 70px;
  left: 176px;
}
#t {
  position: absolute;
  top: 70px;
  left: 218px;
}
#y {
  position: absolute;
  top: 70px;
  left: 260px;
}
#u {
  position: absolute;
  top: 70px;
  left: 302px;
}
#i {
  position: absolute;
  top: 70px;
  left: 344px;
}

#o {
  position: absolute;
  top: 70px;
  left: 386px;
}

#p {
  position: absolute;
  top: 70px;
  left: 428px;
}
#a {
  position: absolute;
  top: 110px;
  left: 73px;
}
#s {
  position: absolute;
  top: 110px;
  left: 115px;
}
#d {
  position: absolute;
  top: 110px;
  left: 157px;
}
#f {
  position: absolute;
  top: 110px;
  left: 199px;
}
#g {
  position: absolute;
  top: 110px;
  left: 241px;
}
#h {
  position: absolute;
  top: 110px;
  left: 283px;
}
#j {
  position: absolute;
  top: 110px;
  left: 325px;
}
#k {
  position: absolute;
  top: 110px;
  left: 367px;
}
#l {
  position: absolute;
  top: 110px;
  left: 409px;
}

#z {
  position: absolute;
  top: 150px;
  left: 95px;
}
#x {
  position: absolute;
  top: 150px;
  left: 137px;
}
#c {
  position: absolute;
  top: 150px;
  left: 179px;
}
#v {
  position: absolute;
  top: 150px;
  left: 221px;
}
#b {
  position: absolute;
  top: 150px;
  left: 263px;
}
#n {
  position: absolute;
  top: 150px;
  left: 305px;
}
#m {
  position: absolute;
  top: 150px;
  left: 347px;
}
