@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');

body {
    background-color: rgb(203, 203, 255);
    margin-top:70px;
}

#paper {
    width: 700px;
    height: 500px;
    position: relative;
    margin: 20px auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #888;
    font-family: 'Noto Serif', serif;
    font-size: 30px;
    text-align: center;
  }
  
  /* styling red vertical line */
  #paper::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: rgba(255,0,0,0.6);
  }
  
  /* styling blue horizontal lines */
  #pattern {
    height: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
  }
  
  .info {
      position:absolute;
      top:10px;
      right:10px;
      font-size: 17px;
      text-align: right;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      
  }
