img {
  width: 340px;
  display: block;
  margin:20px;
}

img:hover  {
  opacity: 0.4;
  transition: .5s ease;}

  

body {
  background-image: url("./assets/relationship/nq9hFEZo.png");
  background-attachment: fixed;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}